# Entornos virtuales
venv/
ENV/
.env

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivo de entorno y demás
.env
benchmark_results.csv
benchmark_results_14_07_2025.csv

# Logs
*.log

# Otros
*.sqlite3